.App h2 {
  text-align: center;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
